.skills{
  height: 100%;
  padding-top: 50px;
  background-color: darkgoldenrod;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.skiilsContainer{
  composes: container from '../../index.css';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skillList{
  margin-top: 30px;
  width: 100%;
  padding: 20px 40px;
  background-color: darkgray;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}