
.skiilsContainer{
  composes: container from '../../index.css';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Parallax{
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover ;

}
.skillList{
  position: relative;
  margin-top: 30px;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}