.Title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: Poppins;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
  &:before {
    content: "";
    height: 3px;
    margin-right: 20px;
    width: 100px;
    display: block;
    background-color: #eb83f8;
  }

  &:after {
    content: "";
    margin-left: 20px;
    height: 3px;
    width: 100px;
    display: block;
    background-color: #eb83f8;
  }
}
.Title.TitleSmall{
  font-size: 40px;
}