

header{
  display: flex;
  background: black;
  height: 100px;
  position: fixed;
  width: 100%;
  color: #fff;
  font-family: Poppins;
  font-weight: 900;
  z-index: 111111;
}
.headerContainer{
  composes: container from '../../index.css';
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navList{
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 50px;
}
 