

header{
  display: flex;
  background: black;
  height: 100px;
  position: absolute;
  width: 100%;
  color: #fff;
  font-family: Poppins;
  font-weight: 900;
  
}
.headerContainer{
  composes: container from '../../index.css'
}
.navList{
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 50px;
  .navLink {
    
}
}
 