
.WorksParallax{
  composes: Parallax from '../skills/skills.module.scss'
}
.worksContainer {
  composes: container from '../../index.css';
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .WorksList{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 700px;
    &::-webkit-scrollbar {
      width: 0;
    }
  }

}
